
/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Body, basic page settings*/
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #cacaca;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Html & body height*/
html, body {
  height: 100%;
  margin: 0;
}

/*Takes up all of the empty space on the site so footer stays at the bottom*/
.container {
  flex: 1;
  padding: 1rem; 
}


/*------HOME PAGE------*/
.welcome-section {
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  width: 100%;
  height: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.books-image img{ 
  max-width: 100%;   
  max-height: 50vh;  
  width: auto;       
  height: auto;       
  margin: 0 auto;
  border-radius: 10px;
  object-fit: cover;

}



/*------BOOKS PAGE------*/



/*------LOGIN PAGE------*/

.login-title {
  text-align: center;
  margin-top: 2rem;
}

.login-text {
  text-align: center;
  max-width: 350px;
  margin: 0 auto 1rem auto;
}

.login-form {
  max-width: 250px;
  height: 150px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: rgb(254, 254, 254);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.50);
}

/* Input fields */
.login-form input {
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1rem;
}

/* Button */
.login-form button {
  width: 50%;
  padding: 0.4rem;
  background: #263238;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  align-self: center;
}
.login-form button:hover {
  background: #455a64;
}


/*------REGISTER PAGE------*/

.register-title {
  text-align: center;
  margin-top: 2rem;
}

.register-text {
  text-align: center;
  max-width: 350px;
  margin: 0 auto 1rem auto;
}

.register-form {
  max-width: 250px;
  height: 300px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: rgb(254, 254, 254);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.50);
  
}

.form-error {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  
}

.form-success{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Input fields */
.register-form input {
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1rem;
}

/* Button */
.register-form button {
  width: 50%;
  padding: 0.4rem;
  background: #263238;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  align-self: center;
}
.register-form button:hover {
  background: #455a64;
}



/*------NAVIGATION BAR------*/

/*Navigation bar, styling*/
nav {
  background: #655c52;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 1, 1.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

/*Navigation bar links*/
nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  
}

.nav-left a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer; 
  align-items: left; 
  margin-left: 2rem;
}

.nav-left a:hover {
  text-decoration: underline;
}


.nav-right a {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 0.5rem;
  /*margin-left: 65rem;*/
}

.nav-left a.my-books {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
  margin-right: 1rem;
}

.nav-left a.my-books:hover {
  text-decoration: underline;
}


.nav-right a.logout:hover,
.nav-right a.login:hover,
.nav-right a.register:hover {
  background: #d4c2bc;
  border-color: #ffffff;
  color: white;
}

.username {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}


.nav-logo img {
  height: 60px;
  width: auto;
}


/*-------FOOTER-------*/
footer {
  background: #655c52;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
