<!--Error message in case the codes aren't working-->
<div class="container">
    <div class="col-sm-6">
        <img src="">
    </div>
    <div class="col-sm-6">
        <h1>
            You have entered into the void! The page that you have clicked doesn't exist
            or isn't available!
        </h1>
        <p>
            Please, go to
            <a href="/">main page!</a>
        </p>
    </div>
</div>