<div class="container">
    <div class="col-sm-6">
        <img src="">
    </div>
    <div class="col-sm-6">
        <h1>Welcome to the Library!</h1>

        <% if (!user) { %>
            <p>Login or register to borrow and return books.</p>
        <% } %>
        
    </div>
</div>



