<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/books">Books</a></li>

    <% if (!user) { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    <% } %>

    <% if (user && user.role === "admin") { %>
      <li><a href="/admin">Admin Panel</a></li>
    <% } %>

    <% if (user) { %>
      <a href="/logout">Logout</a>
      <span class="username"><%= "Welcome " + user.name.first %></span>
    <% } %>

    <% if (user) { %>
      <a href="/My Books">My Books</a>
    <% } %>
  </ul>
</nav>
