<div class = "login-container">
    <h1 class="login-title">Login with your username and password</h1>
    <p class="login-text">You need to be logged in to borrow and return books. Log in by entering your username and password. Don't have an account? <a href="/register">Register here</a>.</p>
    <form action="/login" method="POST" class ="login-form">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Login</button>
    </form>
</div>